<a href="https://colab.research.google.com/github/Yaaxek/Transforma-y-Limpia-Datos-Textuales-en-Pandas-/blob/main/Transforma_y_Limpia_Datos_Textuales_en_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problema:

La empresa FastDelivery, que ofrece un servicio de entrega de alimentos, cuenta con una base de datos de clientes y pedidos en constante crecimiento. Inicialmente, toda la información de sus clientes, como nombre, dirección y teléfono, se almacenaba en una hoja de cálculo simple en Excel. Sin embargo, con el tiempo, esa hoja ha crecido considerablemente, y ahora han decidido contratarte para manipular los datos y optimizar su análisis para estudios futuros.

In [39]:
import pandas as pd

In [40]:
df=pd.read_excel('banco_clientes.xlsx')
df

              nombre                                direccion         telefono
0     Carlos Mendoza        Calle 22 de Abril, 12 52614-524      11 99548-2578
1   JavieR Fernández    Calle Alvarenga Borges, 573 29285-678    11 99999-1234
2      María López          Av. Buen Suceso 1283 87654-321       11 98765-4321
3     pedro martínez            Calle Colombo, 789 45678-912     11 91234-5678
4          ana gómez         Calle Dinamarca, 1011 34567-890     11 99876-5432
5    José Rodríguez               Av. Ermeson, 23456-789 1213  (11) 97654-3210
6     mariana castro       Calle de las Flores, 15 56789-123     11 95555-6789
7       LUCAS GARCÍA           Av. Governador, 1617 67890-234    11 94444-5678
8       Carla santos         Calle Hélio Gracie, 19 78901-345    11 93333-4567
9    Felipe Martínez        Av. 28 de Novembro, 221 89012-456  (11) 92222-7890
10      Amanda Pérez              Calle Joana 423 90123-567      11 91111-2345
11     Rafaela López                Av. Brasil, 245 01234-567  (11) 90000-5678
12     Eduardo Silva      Calle del Lamparao, 2627 12345-678   (11) 98888-9012
13  Gustavo Rodrígez       Calle del Chuvisco, 2829 23456-789  (11) 97777-2345
14    Fernanda Costa             Av. Goytacaz, 3031 34567-890    11 96666-5678
15      Renato Pérez          Av. Areia Negra, 45678-912 3233  (11) 95555-9012
16    Letícia RIVERA    Calle de las Palmeras, 3435 56789-123    11 94444-2345
17       MarÍa Silva                Av. Oliva, 3637 67890-234  (11) 93333-5678
18     Isabela Gómez                Calle Peri, 339 78901-345    11 92222-9012
19       Bruno Costa             Av. Balestrin 1337 89012-456    11 91111-2345
20     Vanessa Silva  Calle Nicolás Copérnico, 90123-567 1543  (11) 90000-5678

##Nombres de los clientes en letra mayuscula

In [41]:
df['nombre']=df['nombre'].str.upper()
df

              nombre                                direccion         telefono
0     CARLOS MENDOZA        Calle 22 de Abril, 12 52614-524      11 99548-2578
1   JAVIER FERNÁNDEZ    Calle Alvarenga Borges, 573 29285-678    11 99999-1234
2      MARÍA LÓPEZ          Av. Buen Suceso 1283 87654-321       11 98765-4321
3     PEDRO MARTÍNEZ            Calle Colombo, 789 45678-912     11 91234-5678
4          ANA GÓMEZ         Calle Dinamarca, 1011 34567-890     11 99876-5432
5    JOSÉ RODRÍGUEZ               Av. Ermeson, 23456-789 1213  (11) 97654-3210
6     MARIANA CASTRO       Calle de las Flores, 15 56789-123     11 95555-6789
7       LUCAS GARCÍA           Av. Governador, 1617 67890-234    11 94444-5678
8       CARLA SANTOS         Calle Hélio Gracie, 19 78901-345    11 93333-4567
9    FELIPE MARTÍNEZ        Av. 28 de Novembro, 221 89012-456  (11) 92222-7890
10      AMANDA PÉREZ              Calle Joana 423 90123-567      11 91111-2345
11     RAFAELA LÓPEZ                Av. Brasil, 245 01234-567  (11) 90000-5678
12     EDUARDO SILVA      Calle del Lamparao, 2627 12345-678   (11) 98888-9012
13  GUSTAVO RODRÍGEZ       Calle del Chuvisco, 2829 23456-789  (11) 97777-2345
14    FERNANDA COSTA             Av. Goytacaz, 3031 34567-890    11 96666-5678
15      RENATO PÉREZ          Av. Areia Negra, 45678-912 3233  (11) 95555-9012
16    LETÍCIA RIVERA    Calle de las Palmeras, 3435 56789-123    11 94444-2345
17       MARÍA SILVA                Av. Oliva, 3637 67890-234  (11) 93333-5678
18     ISABELA GÓMEZ                Calle Peri, 339 78901-345    11 92222-9012
19       BRUNO COSTA             Av. Balestrin 1337 89012-456    11 91111-2345
20     VANESSA SILVA  Calle Nicolás Copérnico, 90123-567 1543  (11) 90000-5678

##Columna de telefonos al formato XX XXXXX-XXXX

In [42]:
df['telefono']=df['telefono'].str.replace('(','',regex=False).str.replace(')','',regex=False)
df

              nombre                                direccion       telefono
0     CARLOS MENDOZA        Calle 22 de Abril, 12 52614-524    11 99548-2578
1   JAVIER FERNÁNDEZ    Calle Alvarenga Borges, 573 29285-678  11 99999-1234
2      MARÍA LÓPEZ          Av. Buen Suceso 1283 87654-321     11 98765-4321
3     PEDRO MARTÍNEZ            Calle Colombo, 789 45678-912   11 91234-5678
4          ANA GÓMEZ         Calle Dinamarca, 1011 34567-890   11 99876-5432
5    JOSÉ RODRÍGUEZ               Av. Ermeson, 23456-789 1213  11 97654-3210
6     MARIANA CASTRO       Calle de las Flores, 15 56789-123   11 95555-6789
7       LUCAS GARCÍA           Av. Governador, 1617 67890-234  11 94444-5678
8       CARLA SANTOS         Calle Hélio Gracie, 19 78901-345  11 93333-4567
9    FELIPE MARTÍNEZ        Av. 28 de Novembro, 221 89012-456  11 92222-7890
10      AMANDA PÉREZ              Calle Joana 423 90123-567    11 91111-2345
11     RAFAELA LÓPEZ                Av. Brasil, 245 01234-567  11 90000-5678
12     EDUARDO SILVA      Calle del Lamparao, 2627 12345-678   11 98888-9012
13  GUSTAVO RODRÍGEZ       Calle del Chuvisco, 2829 23456-789  11 97777-2345
14    FERNANDA COSTA             Av. Goytacaz, 3031 34567-890  11 96666-5678
15      RENATO PÉREZ          Av. Areia Negra, 45678-912 3233  11 95555-9012
16    LETÍCIA RIVERA    Calle de las Palmeras, 3435 56789-123  11 94444-2345
17       MARÍA SILVA                Av. Oliva, 3637 67890-234  11 93333-5678
18     ISABELA GÓMEZ                Calle Peri, 339 78901-345  11 92222-9012
19       BRUNO COSTA             Av. Balestrin 1337 89012-456  11 91111-2345
20     VANESSA SILVA  Calle Nicolás Copérnico, 90123-567 1543  11 90000-5678

##Crear una columna unicamente con los codigos postales

In [43]:
df['CP']=df['direccion'].str.extract('(\d{5}-\d{3})')
df

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-2743047612.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['CP']=df['direccion'].str.extract('(\d{5}-\d{3})')

,nombre,direccion,telefono,CP
0,CARLOS MENDOZA,"Calle 22 de Abril, 12 52614-524",11 99548-2578,52614-524
1,JAVIER FERNÁNDEZ,"Calle Alvarenga Borges, 573 29285-678",11 99999-1234,29285-678
2,MARÍA LÓPEZ,Av. Buen Suceso 1283 87654-321,11 98765-4321,87654-321
3,PEDRO MARTÍNEZ,"Calle Colombo, 789 45678-912",11 91234-5678,45678-912
4,ANA GÓMEZ,"Calle Dinamarca, 1011 34567-890",11 99876-5432,34567-890
5,JOSÉ RODRÍGUEZ,"Av. Ermeson, 23456-789 1213",11 97654-3210,23456-789
6,MARIANA CASTRO,"Calle de las Flores, 15 56789-123",11 95555-6789,56789-123
7,LUCAS GARCÍA,"Av. Governador, 1617 67890-234",11 94444-5678,67890-234
8,CARLA SANTOS,"Calle Hélio Gracie, 19 78901-345",11 93333-4567,78901-345
9,FELIPE MARTÍNEZ,"Av. 28 de Novembro, 221 89012-456",11 92222-7890,89012-456
10,AMANDA PÉREZ,Calle Joana 423 90123-567,11 91111-2345,90123-567
11,RAFAELA LÓPEZ,"Av. Brasil, 245 01234-567",11 90000-5678,01234-567
12,EDUARDO SILVA,"Calle del Lamparao, 2627 12345-678",11 98888-9012,12345-678
13,GUSTAVO RODRÍGEZ,"Calle del Chuvisco, 2829 23456-789",11 97777-2345,23456-789
14,FERNANDA COSTA,"Av. Goytacaz, 3031 34567-890",11 96666-5678,34567-890
15,RENATO PÉREZ,"Av. Areia Negra, 45678-912 3233",11 95555-9012,45678-912
16,LETÍCIA RIVERA,"Calle de las Palmeras, 3435 56789-123",11 94444-2345,56789-123
17,MARÍA SILVA,"Av. Oliva, 3637 67890-234",11 93333-5678,67890-234
18,ISABELA GÓMEZ,"Calle Peri, 339 78901-345",11 92222-9012,78901-345
19,BRUNO COSTA,Av. Balestrin 1337 89012-456,11 91111-2345,89012-456
20,VANESSA SILVA,"Calle Nicolás Copérnico, 90123-567 1543",11 90000-5678,90123-567

In [44]:
df['direccion']=df['direccion'].str.replace(r'(\d{5}-\d{3})','',regex=True).str.strip()
df

              nombre                       direccion       telefono         CP
0     CARLOS MENDOZA           Calle 22 de Abril, 12  11 99548-2578  52614-524
1   JAVIER FERNÁNDEZ     Calle Alvarenga Borges, 573  11 99999-1234  29285-678
2      MARÍA LÓPEZ              Av. Buen Suceso 1283  11 98765-4321  87654-321
3     PEDRO MARTÍNEZ              Calle Colombo, 789  11 91234-5678  45678-912
4          ANA GÓMEZ           Calle Dinamarca, 1011  11 99876-5432  34567-890
5    JOSÉ RODRÍGUEZ               Av. Ermeson,  1213  11 97654-3210  23456-789
6     MARIANA CASTRO         Calle de las Flores, 15  11 95555-6789  56789-123
7       LUCAS GARCÍA            Av. Governador, 1617  11 94444-5678  67890-234
8       CARLA SANTOS          Calle Hélio Gracie, 19  11 93333-4567  78901-345
9    FELIPE MARTÍNEZ         Av. 28 de Novembro, 221  11 92222-7890  89012-456
10      AMANDA PÉREZ                 Calle Joana 423  11 91111-2345  90123-567
11     RAFAELA LÓPEZ                 Av. Brasil, 245  11 90000-5678  01234-567
12     EDUARDO SILVA        Calle del Lamparao, 2627  11 98888-9012  12345-678
13  GUSTAVO RODRÍGEZ        Calle del Chuvisco, 2829  11 97777-2345  23456-789
14    FERNANDA COSTA              Av. Goytacaz, 3031  11 96666-5678  34567-890
15      RENATO PÉREZ          Av. Areia Negra,  3233  11 95555-9012  45678-912
16    LETÍCIA RIVERA     Calle de las Palmeras, 3435  11 94444-2345  56789-123
17       MARÍA SILVA                 Av. Oliva, 3637  11 93333-5678  67890-234
18     ISABELA GÓMEZ                 Calle Peri, 339  11 92222-9012  78901-345
19       BRUNO COSTA              Av. Balestrin 1337  11 91111-2345  89012-456
20     VANESSA SILVA  Calle Nicolás Copérnico,  1543  11 90000-5678  90123-567

## Separar la direccion en dos columnas: calle y numero

In [45]:
df['direccion'].str.split(',', expand=True)

                          0       1
0         Calle 22 de Abril      12
1    Calle Alvarenga Borges     573
2      Av. Buen Suceso 1283    None
3             Calle Colombo     789
4           Calle Dinamarca    1011
5               Av. Ermeson    1213
6       Calle de las Flores      15
7            Av. Governador    1617
8        Calle Hélio Gracie      19
9        Av. 28 de Novembro     221
10          Calle Joana 423    None
11               Av. Brasil     245
12       Calle del Lamparao    2627
13       Calle del Chuvisco    2829
14             Av. Goytacaz    3031
15          Av. Areia Negra    3233
16    Calle de las Palmeras    3435
17                Av. Oliva    3637
18               Calle Peri     339
19       Av. Balestrin 1337    None
20  Calle Nicolás Copérnico    1543

In [47]:
df['direccion'].str.split('\s(?=\d+$)',expand=True)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3666425101.py:1: SyntaxWarning: invalid escape sequence '\s'
  df['direccion'].str.split('\s(?=\d+$)',expand=True)

                            0     1
0          Calle 22 de Abril,    12
1     Calle Alvarenga Borges,   573
2             Av. Buen Suceso  1283
3              Calle Colombo,   789
4            Calle Dinamarca,  1011
5               Av. Ermeson,   1213
6        Calle de las Flores,    15
7             Av. Governador,  1617
8         Calle Hélio Gracie,    19
9         Av. 28 de Novembro,   221
10                Calle Joana   423
11                Av. Brasil,   245
12        Calle del Lamparao,  2627
13        Calle del Chuvisco,  2829
14              Av. Goytacaz,  3031
15          Av. Areia Negra,   3233
16     Calle de las Palmeras,  3435
17                 Av. Oliva,  3637
18                Calle Peri,   339
19              Av. Balestrin  1337
20  Calle Nicolás Copérnico,   1543

In [48]:
df[['Calle','Numero']]=df['direccion'].str.replace(',','', regex=False).str.split('\s(?=\d+$)',expand=True)
df

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-4010472317.py:1: SyntaxWarning: invalid escape sequence '\s'
  df[['Calle','Numero']]=df['direccion'].str.replace(',','', regex=False).str.split('\s(?=\d+$)',expand=True)

,nombre,direccion,telefono,CP,Calle,Numero
0,CARLOS MENDOZA,"Calle 22 de Abril, 12",11 99548-2578,52614-524,Calle 22 de Abril,12
1,JAVIER FERNÁNDEZ,"Calle Alvarenga Borges, 573",11 99999-1234,29285-678,Calle Alvarenga Borges,573
2,MARÍA LÓPEZ,Av. Buen Suceso 1283,11 98765-4321,87654-321,Av. Buen Suceso,1283
3,PEDRO MARTÍNEZ,"Calle Colombo, 789",11 91234-5678,45678-912,Calle Colombo,789
4,ANA GÓMEZ,"Calle Dinamarca, 1011",11 99876-5432,34567-890,Calle Dinamarca,1011
5,JOSÉ RODRÍGUEZ,"Av. Ermeson, 1213",11 97654-3210,23456-789,Av. Ermeson,1213
6,MARIANA CASTRO,"Calle de las Flores, 15",11 95555-6789,56789-123,Calle de las Flores,15
7,LUCAS GARCÍA,"Av. Governador, 1617",11 94444-5678,67890-234,Av. Governador,1617
8,CARLA SANTOS,"Calle Hélio Gracie, 19",11 93333-4567,78901-345,Calle Hélio Gracie,19
9,FELIPE MARTÍNEZ,"Av. 28 de Novembro, 221",11 92222-7890,89012-456,Av. 28 de Novembro,221
10,AMANDA PÉREZ,Calle Joana 423,11 91111-2345,90123-567,Calle Joana,423
11,RAFAELA LÓPEZ,"Av. Brasil, 245",11 90000-5678,01234-567,Av. Brasil,245
12,EDUARDO SILVA,"Calle del Lamparao, 2627",11 98888-9012,12345-678,Calle del Lamparao,2627
13,GUSTAVO RODRÍGEZ,"Calle del Chuvisco, 2829",11 97777-2345,23456-789,Calle del Chuvisco,2829
14,FERNANDA COSTA,"Av. Goytacaz, 3031",11 96666-5678,34567-890,Av. Goytacaz,3031
15,RENATO PÉREZ,"Av. Areia Negra, 3233",11 95555-9012,45678-912,Av. Areia Negra,3233
16,LETÍCIA RIVERA,"Calle de las Palmeras, 3435",11 94444-2345,56789-123,Calle de las Palmeras,3435
17,MARÍA SILVA,"Av. Oliva, 3637",11 93333-5678,67890-234,Av. Oliva,3637
18,ISABELA GÓMEZ,"Calle Peri, 339",11 92222-9012,78901-345,Calle Peri,339
19,BRUNO COSTA,Av. Balestrin 1337,11 91111-2345,89012-456,Av. Balestrin,1337
20,VANESSA SILVA,"Calle Nicolás Copérnico, 1543",11 90000-5678,90123-567,Calle Nicolás Copérnico,1543

In [50]:
df=df.drop('direccion', axis=1)
df

,nombre,telefono,CP,Calle,Numero
0,CARLOS MENDOZA,11 99548-2578,52614-524,Calle 22 de Abril,12
1,JAVIER FERNÁNDEZ,11 99999-1234,29285-678,Calle Alvarenga Borges,573
2,MARÍA LÓPEZ,11 98765-4321,87654-321,Av. Buen Suceso,1283
3,PEDRO MARTÍNEZ,11 91234-5678,45678-912,Calle Colombo,789
4,ANA GÓMEZ,11 99876-5432,34567-890,Calle Dinamarca,1011
5,JOSÉ RODRÍGUEZ,11 97654-3210,23456-789,Av. Ermeson,1213
6,MARIANA CASTRO,11 95555-6789,56789-123,Calle de las Flores,15
7,LUCAS GARCÍA,11 94444-5678,67890-234,Av. Governador,1617
8,CARLA SANTOS,11 93333-4567,78901-345,Calle Hélio Gracie,19
9,FELIPE MARTÍNEZ,11 92222-7890,89012-456,Av. 28 de Novembro,221
10,AMANDA PÉREZ,11 91111-2345,90123-567,Calle Joana,423
11,RAFAELA LÓPEZ,11 90000-5678,01234-567,Av. Brasil,245
12,EDUARDO SILVA,11 98888-9012,12345-678,Calle del Lamparao,2627
13,GUSTAVO RODRÍGEZ,11 97777-2345,23456-789,Calle del Chuvisco,2829
14,FERNANDA COSTA,11 96666-5678,34567-890,Av. Goytacaz,3031
15,RENATO PÉREZ,11 95555-9012,45678-912,Av. Areia Negra,3233
16,LETÍCIA RIVERA,11 94444-2345,56789-123,Calle de las Palmeras,3435
17,MARÍA SILVA,11 93333-5678,67890-234,Av. Oliva,3637
18,ISABELA GÓMEZ,11 92222-9012,78901-345,Calle Peri,339
19,BRUNO COSTA,11 91111-2345,89012-456,Av. Balestrin,1337
20,VANESSA SILVA,11 90000-5678,90123-567,Calle Nicolás Copérnico,1543